.heart {
	position: absolute;
	bottom: 10%;
	right: 10%;
	height: 25px;
	width: 25px;
	background-color: var(--red);
	transform: rotate(45deg);
	animation: heart-beat 1.6s linear infinite;
}
.heart::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: var(--red);
	transform: translateY(-50%);
}
.heart::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: var(--red);
	transform: translateX(-50%);
}

@keyframes heart-beat {
	0% {
		transform: rotate(45deg) scale(1);
	}
	25% {
		transform: rotate(45deg) scale(1);
	}
	30% {
		transform: rotate(45deg) scale(1.4);
	}
	50% {
		transform: rotate(45deg) scale(1.2);
	}
	70% {
		transform: rotate(45deg) scale(1.4);
	}
	100% {
		transform: rotate(45deg) scale(1);
	}
}
