.banner {
	min-height: 280px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
	padding: 10px 50px;

	background: linear-gradient(
		160deg,
		rgba(0, 0, 0, 0.082) 30%,
		var(--secondary) 100%
	);
	overflow: hidden;
	border: 1px solid var(--primary);
	border-width: 0 0 1px 0;
	transition: all 0.3s;
}
.banner:hover {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.199) 100%,
		var(--secondary) 30%
	);
}
.banner:hover h1 {
	transform: scale(1.2);
}
.banner h1 {
	font-size: 40px;
	transform: scale(1);
	color: var(--primary);
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s;
	animation: scaleOut 0.4s ease 0s 1 normal forwards;
}
.banner p {
	text-align: center;
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	animation: scaleOut 0.4s ease 0s 1 normal forwards;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	animation: scaleOut 0.4s ease 0s 1 normal forwards;
}

@keyframes scaleOut {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
